## Next steps:

- Investigate data
- Investigate Null values
- First analysis (GROUP BY, standard metrics)


## Ideas

- Interesting could be a cart rate. How much and what from the cart got purchased at the end. And how long did it stay in the  cart.

- Same from view to cart or purchase.

- These could be analysied by user, category or brand

In [1]:
# Import libraries
import pandas as pd
import matplotlib as plt
import seaborn as sns
import numpy as np
import impala as ip
from impala.dbapi import connect
from impala.util import as_pandas

In [2]:
#Showing graphs inline
%matplotlib inline

In [3]:
conn = connect('localhost', port=21050)
cursor = conn.cursor()
#cursor.execute('SHOW DATABASE')
#cursor.fetchall()

In [4]:
cursor.execute('DESCRIBE sales.sales')
cursor.fetchall()

[('event_time', 'timestamp', ''),
 ('event_type', 'string', ''),
 ('product_id', 'bigint', ''),
 ('category_id', 'bigint', ''),
 ('category_code', 'string', ''),
 ('brand', 'string', ''),
 ('price', 'double', ''),
 ('user_id', 'bigint', ''),
 ('user_session', 'string', '')]

In [5]:
QUERY = 'SELECT * FROM sales.sales LIMIT 10'

In [6]:
cursor.execute(QUERY)
results = pd.DataFrame(cursor.fetchall())

In [7]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     datetime64[ns]
 1   1       10 non-null     object
 2   2       10 non-null     int64
 3   3       10 non-null     int64
 4   4       5 non-null      object
 5   5       9 non-null      object
 6   6       10 non-null     float64
 7   7       10 non-null     int64
 8   8       10 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 848.0+ bytes

In [8]:
results

,0,1,2,3,4,5,6,7,8
0,2019-11-21 07:54:33,view,1005107,2053013555631882655,electronics.smartphone,apple,1003.63,515020541,d337e519-aa70-4b2b-968f-ea5b26d81704
1,2019-11-21 07:54:33,view,3701366,2053013565983425517,appliances.environment.vacuum,ilife,254.83,515065337,994b153f-26e2-4a36-8c02-395ef566f6f7
2,2019-11-21 07:54:33,view,1004886,2053013555631882655,electronics.smartphone,oppo,154.16,513369849,62ec064f-34af-4c88-b743-46b7f3af520f
3,2019-11-21 07:54:33,view,15100095,2053013557024391671,None,sv,1029.37,555003952,5b9ba51e-3939-49a6-8219-77d47cc952c3
4,2019-11-21 07:54:33,view,5100166,2053013553375346967,None,fitbit,180.16,569194567,76eebdcb-e75a-47fd-a8bc-346ad4f2ecc8
5,2019-11-21 07:54:33,view,17800520,2053013559868129947,computers.desktop,zeta,53.05,573854965,2b7fa6af-b870-46d8-a7b7-318a8e436ef9
6,2019-11-21 07:54:33,view,13104069,2053013553526341921,None,skad,224.15,515482791,bee4b61c-6fb7-4791-8d7c-0111d93053ea
7,2019-11-21 07:54:33,view,2601157,2053013563970159485,None,gefest,378.64,528106545,73b41e3f-ce9f-45e1-ab28-a3f4fdc9bbe8
8,2019-11-21 07:54:33,view,1004873,2053013555631882655,electronics.smartphone,samsung,382.71,561588141,9aee4d9c-9e00-46a2-a690-bf625e524f6d
9,2019-11-21 07:54:33,view,100013130,2135658542386905834,None,None,0.00,513235367,089fb29a-4400-407e-a443-5dd0df3c7b9c