## Next steps:

- Investigate data
- Investigate Null values
- First analysis (GROUP BY, standard metrics)


## Ideas

- Interesting could be a cart rate. How much and what from the cart got purchased at the end. And how long did it stay in the  cart.

- Same from view to cart or purchase.

- These could be analysied by user, category or brand

In [1]:
# Import libraries
import pandas as pd
import matplotlib as plt
import seaborn as sns
import numpy as np
import impala as ip
from impala.dbapi import connect
from impala.util import as_pandas

In [2]:
#Showing graphs inline
%matplotlib inline

In [3]:
conn = connect('localhost', port=21050)
cursor = conn.cursor()
#cursor.execute('SHOW DATABASE')
#cursor.fetchall()

In [9]:
cursor.execute('DESCRIBE sales.sales')
cursor.fetchall()

[('event_time', 'timestamp', ''),
 ('event_type', 'string', ''),
 ('product_id', 'bigint', ''),
 ('category_id', 'bigint', ''),
 ('category_code', 'string', ''),
 ('brand', 'string', ''),
 ('price', 'double', ''),
 ('user_id', 'bigint', ''),
 ('user_session', 'string', '')]

In [10]:
QUERY = 'SELECT * FROM sales.sales LIMIT 5'

In [11]:
cursor.execute(QUERY)
results = pd.DataFrame(cursor.fetchall())

In [12]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      datetime64[ns]
 1   1       5 non-null      object
 2   2       5 non-null      int64
 3   3       5 non-null      int64
 4   4       3 non-null      object
 5   5       4 non-null      object
 6   6       5 non-null      float64
 7   7       5 non-null      int64
 8   8       5 non-null      object
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 488.0+ bytes

In [13]:
results

,0,1,2,3,4,5,6,7,8
0,2019-11-28 17:27:50,view,54100012,2145153815500816706,None,matrix,36.13,515522739,1862607d-488b-49d6-8742-ebc6079b53cc
1,2019-11-28 17:27:50,view,5701166,2053013553970938175,auto.accessories.player,None,143.89,550006854,76ca3f45-1834-45b6-884c-1df9a0f0ba43
2,2019-11-28 17:27:50,view,100023426,2053013558920217191,computers.notebook,hp,771.96,512543257,a7888cc5-8eb3-4364-8007-4f3b154c9729
3,2019-11-28 17:27:50,view,1004833,2053013555631882655,electronics.smartphone,samsung,168.65,515053770,be2c2a66-de21-4cb8-9add-048e734522dd
4,2019-11-28 17:27:50,view,26200979,2053013563693335403,None,lucente,204.64,554063553,24ee2c73-a3dc-4adc-8293-0b24dd46fac6